//=======================================================================================================
// @font-face
// Usage: webfont('Crimson-Text-Roman', 'crimson-text', 'crimsontext-roman-webfont', true, normal, normal)
//=======================================================================================================

// Light
//webfont('Montserrat-Regular', 'Montserrat', 'Montserrat-Regular',  normal, normal)
webfont('Montserrat-Medium', 'Montserrat', 'Montserrat-Medium',  normal, normal)
webfont('Montserrat-SemiBold', 'Montserrat', 'Montserrat-SemiBold',  normal, normal)
webfont('Montserrat-Bold', 'Montserrat', 'Montserrat-Bold',  normal, normal)
//webfont('Montserrat-Black', 'Montserrat', 'Montserrat-Black',  normal, normal)

webfont('EngraversMT', 'Engravers', 'EngraversMT',  normal, normal)



