{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">

			<section class="sect__promo js-section">
				<div class="container">
					<div class="promo-block">

						<div class="promo-block__content">

							<div class="row align-horisontal-end">

								<div class="promo-block__text">

									<h1 class="promo-block__title">
										<b class="letters-animation">Конгресс</b> 
										<span class="letters-animation">Стефано Куби на темы:</span></h1>
										<ol>
											<li>Эстетическая Ортопедия от коронок до no prep/prepless виниров.</li>
											<li>Восстановление окклюзии при потере высоты.<br>Full mock-up концепт</li>
										</ol>

										<div class="promo-block-bestseller">
											<p>Автор мирового бестселлера</p>
											<img src="img/book_small.png" alt="Книга Керамические виниры">
										</div>

									</div>

								</div>

								<div class="row align-vertical-end align-horisontal-between promo-form__row row-gutters row-nowrap">

									<div class="congress-info col-gutters">
										<div class="congress-info__block">
											<span class="congress-info__block--date">30</span>
											<div class="congress-info__block--text">
												<span>Октября</span><span>Киев</span>
											</div>

											<div class="congress-info__block--benefit">
												<span class="congress-info__block--benefit_plus">+</span>
												<span>Синхронный перевод</span>
											</div>
										</div>
									</div>

									<div class="promo-form__col col-gutters">
										<div class="form-block">


											<div class="form__wrapper form__wrapper--accent  b-radius">
												<form>
													<!-- Hidden inputs -->
													<input type="hidden" name="project_name" value="Dentalex. Стефано Куби">
													<input type="hidden" name="form_subject" value="Принять участие">
													<!-- // Hidden inputs -->

													<div class="row form-groups align-horisontal-start align-vertical-center row-nowrap">
														<div class="form-group col-gutters col-w-33">
															<label  class="form-label">
																<span class="form-label__ic">

																	<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 26.083 28.966" enable-background="new 0 0 26.083 28.966" xml:space="preserve">
																		<path d="M26.062,28.039c-0.078-5.783-3.942-10.667-9.22-12.284c2.687-1.387,4.531-4.186,4.531-7.412c0-4.6-3.742-8.342-8.342-8.342
																		S4.689,3.742,4.689,8.342c0,3.227,1.845,6.026,4.533,7.413C3.89,17.389,0,22.356,0,28.216c0,0.414,0.336,0.75,0.75,0.75h24.563
																		c0.007,0,0.014,0,0.02,0c0.414,0,0.75-0.336,0.75-0.75C26.083,28.155,26.076,28.096,26.062,28.039z M6.189,8.342
																		c0-3.773,3.069-6.842,6.842-6.842s6.842,3.069,6.842,6.842s-3.069,6.842-6.842,6.842S6.189,12.115,6.189,8.342z M1.524,27.466
																		c0.388-6.011,5.401-10.782,11.508-10.782s11.12,4.771,11.508,10.782H1.524z"/>
																	</svg>

																</span>
																<input type="text" class="form-input js-required-input" name="name" placeholder="Имя">
															</label>
														</div>

														<div class="form-group col-gutters col-w-33">
															<label  class="form-label">
																<span class="form-label__ic">

																	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 34.285 33.754" enable-background="new 0 0 34.285 33.754" xml:space="preserve">
																		<g>
																			<path d="M28.367,21.823c-0.602-0.602-1.405-0.934-2.261-0.934c-0.856,0-1.66,0.332-2.189,0.87l-2.254,1.734
																			c-0.721,0.554-1.668,0.773-2.526,0.582c-4.938-1.101-7.943-6.608-9.295-9.792c-0.423-0.996-0.277-2.146,0.381-3.001l1.335-1.746
																			c1.247-1.247,1.247-3.276,0-4.523l-2.93-2.93c-1.051-1.051-3-1.178-4.181-0.271L4.177,2.02c-2.973,2.288-4.545,5.979-4.104,9.633
																			c0.441,3.648,2.14,9.17,7.731,14.761c3.551,3.55,7.319,5.884,11.202,6.937c0.987,0.268,2.007,0.404,3.03,0.404
																			c3.585,0,7.068-1.699,9.317-4.544l0.188-0.238c0.968-1.224,0.857-3.117-0.246-4.22L28.367,21.823z M30.366,28.042l-0.188,0.238
																			c-1.967,2.488-5.01,3.974-8.14,3.974c-0.891,0-1.778-0.119-2.638-0.352c-3.627-0.984-7.171-3.188-10.534-6.55
																			c-5.288-5.289-6.89-10.467-7.303-13.88C1.184,8.341,2.536,5.174,5.092,3.208l0.269-0.207c0.272-0.209,0.63-0.325,1.008-0.325
																			c0.464,0,0.9,0.17,1.198,0.468l2.93,2.93c0.662,0.662,0.662,1.74-0.064,2.475l-1.399,1.818c-0.988,1.283-1.207,3.008-0.573,4.502
																			c1.465,3.45,4.757,9.423,10.35,10.67c1.285,0.287,2.699-0.034,3.768-0.857l2.327-1.798c0.638-0.637,1.764-0.638,2.402,0l2.93,2.93
																			C30.808,26.386,30.868,27.407,30.366,28.042z"/>
																			<path d="M17.877,11.569c1.292,0,2.508,0.503,3.422,1.417c0.913,0.913,1.417,2.128,1.417,3.42c0,0.414,0.336,0.75,0.75,0.75h0
																			c0.414,0,0.75-0.336,0.75-0.75c-0.001-1.693-0.661-3.284-1.857-4.48c-1.197-1.197-2.789-1.857-4.482-1.857
																			c-0.414,0-0.75,0.336-0.75,0.75S17.463,11.569,17.877,11.569z"/>
																			<path d="M17.877,6.304c2.699,0,5.236,1.051,7.145,2.96c1.908,1.908,2.959,4.445,2.959,7.143c0,0.414,0.336,0.75,0.75,0.75
																			s0.75-0.336,0.75-0.75c0-3.099-1.207-6.012-3.399-8.204c-2.192-2.192-5.106-3.399-8.206-3.399c-0.414,0-0.75,0.336-0.75,0.75
																			S17.463,6.304,17.877,6.304z"/>
																			<path d="M29.479,4.806C26.38,1.707,22.26,0,17.877,0c-0.414,0-0.75,0.336-0.75,0.75s0.336,0.75,0.75,0.75
																			c3.982,0,7.726,1.551,10.542,4.367c2.815,2.815,4.366,6.559,4.367,10.541c0,0.415,0.336,0.75,0.75,0.75
																			c0.415,0,0.75-0.336,0.75-0.75C34.285,12.025,32.578,7.905,29.479,4.806z"/>
																		</g>
																	</svg>

																</span>
																<input type="tel" class="form-input js-required-input" name="tel" placeholder="Телефон">
															</label>
														</div>

														<div class="form-group col-gutters col-w-33 text-right">
															<button class="btn btn-light" type="submit">Принять участие</button>
														</div>
													</div>
												</form>
											</div>

											<div class="btn-popup">
												<button class="btn  js-open-popup-form-btn" type="button">Принять участие</button>
											</div>

											<div class="congress-info__block--benefit  congress-info__block--benefit_tablet">
												<span class="congress-info__block--benefit_plus">+</span>
												<span>Синхронный перевод</span>
											</div>

										</div>
									</div>



								</div>

								<div class="promo-block-bestseller promo-block-bestseller__tablet">
									<p>Автор мирового бестселлера</p>
									<img src="img/book_small.png" alt="Книга Керамические виниры">
								</div>

							</div>



							<img class="promo-block__img" src="img/speaker.png" alt="Стефано Куби">
						</div>
					</div>
					<!-- //container -->
				</section>
				<!-- //sect promo -->





				<section class="sect__about js-section decor-wrapper decor-wrapper__blue" id="aboutSpeaker">

					<div class="about-speaker basic-white-color">
						<div class="container">
							<div class="about-speaker__title row align-horisontal-end row-gutters" data-text="Bon jour">
								<h2 class="sect-title col-gutters">Давайте<br>познакомимся!</h2>
							</div>

							<div class="about-speaker__text row align-horisontal-between row-gutters">
								<div class="about-speaker__text--col col-gutters">
									<p>Стефано Куби в 1998 г. окончил Марсельский университет (Франция) и с 2008 г. занимает там должность профессора кафедры реставрационной стоматологии. В 2011 г. доктор Куби получил научную степень PhD. В настоящее время ведёт частную стоматологическую практику в Марселе и Париже.</p>
									<p>Основные области научного и клинического интереса Стефана Куби - эстетическое и функциональное восстановление зубов. Он активно выступает с докладами на различных международных мероприятиях, посвященных эстетической стоматологии, а также является приглашенным профессором ряда университетов.</p>
								</div>
								<div class="about-speaker__text--col col-gutters">
									<p>В 2012 г. студенты Марсельского университета присвоили доктору Куби как лучшему преподавателю года звание «Золотой моляр». В том же году он был признан лучшим французским лектором. В 2012 г. Стефан Куби стал членом стоматологического общества Style Italiano, а в 2013 г. основал Институт виниров - частный образовательный центр, в котором обучает коллег эстетическому восстановлению зубов. Кроме того, доктор Куби является автором и соавтором ряда научных статей, посвященных вопросам эстетической стоматологии.</p>

									<img src="img/about-speaker.png" alt="">
								</div>
							</div>
						</div>
						<!-- //container -->
					</div>


					<div class="decor-wrapper decor-wrapper__grey huge-bottom-gutter">

						<section class="speaker-slider__wrapper">
							<h2 class="w3c">Этапы работы</h2>
							<div class="container">

								<div class="speaker-slider">
									<div class="swiper-container js-speaker-slider">
										<div class="swiper-wrapper">
											<div class="swiper-slide">
												<div class="speaker-slide">
													<h3 class="speaker-slide__title">Систематизация эстетического подхода</h3>
													<a href="img/speaker/1.jpg" class="thumbnail fancy-link"  data-fancybox="speaker-gallery">
														<img src="img/speaker/1.jpg" alt="">
													</a>
													<span>01</span>
												</div>

											</div>
											<!-- //slide -->

											<div class="swiper-slide">
												<div class="speaker-slide">
													<h3 class="speaker-slide__title">Выбор правильной заготовки</h3>
													<a href="img/speaker/2.jpg" class="thumbnail fancy-link" data-fancybox="speaker-gallery">
														<img src="img/speaker/2.jpg" alt="">
													</a>
													<span>02</span>
												</div>

											</div>
											<!-- //slide -->

											<div class="swiper-slide">
												<div class="speaker-slide">
													<h3 class="speaker-slide__title">Перио Хирургия перед протезированием</h3>
													<a href="img/speaker/3.jpg" class="thumbnail fancy-link" data-fancybox="speaker-gallery">
														<img src="img/speaker/3.jpg" alt="">
													</a>
													<span>03</span>
												</div>

											</div>
											<!-- //slide -->

											<div class="swiper-slide">
												<div class="speaker-slide">
													<h3 class="speaker-slide__title">Техники препарирования зубов под виниры</h3>
													<a href="img/speaker/4.jpg" class="thumbnail fancy-link" data-fancybox="speaker-gallery">
														<img src="img/speaker/4.jpg" alt="">
													</a>
													<span>04</span>
												</div>

											</div>
											<!-- //slide -->

											<div class="swiper-slide">
												<div class="speaker-slide">
													<h3 class="speaker-slide__title">Техническая часть изготовления виниров</h3>
													<a href="img/speaker/5.jpg" class="thumbnail fancy-link" data-fancybox="speaker-gallery">
														<img src="img/speaker/5.jpg" alt="">
													</a>
													<span>05</span>
												</div>

											</div>
											<!-- //slide -->

											<div class="swiper-slide">
												<div class="speaker-slide">
													<h3 class="speaker-slide__title">Техники индивидуализации керамики</h3>
													<a href="img/speaker/6.jpg" class="thumbnail fancy-link" data-fancybox="speaker-gallery">
														<img src="img/speaker/6.jpg" alt="">
													</a>
													<span>06</span>
												</div>

											</div>
											<!-- //slide -->

											<div class="swiper-slide">
												<div class="speaker-slide">
													<h3 class="speaker-slide__title">Фиксация и Безпрепаровочные виниры</h3>
													<a href="img/speaker/7.jpg" class="thumbnail fancy-link" data-fancybox="speaker-gallery">
														<img src="img/speaker/7.jpg" alt="">
													</a>
													<span>07</span>
												</div>

											</div>
											<!-- //slide -->
											<div class="swiper-slide">
												<div class="speaker-slide">
													<h3 class="speaker-slide__title">Цифровые технологии</h3>
													<a href="img/speaker/8.jpg" class="thumbnail fancy-link" data-fancybox="speaker-gallery">
														<img src="img/speaker/8.jpg" alt="">
													</a>
													<span>08</span>
												</div>

											</div>
											<!-- //slide -->
										</div>
									</div>

									<!-- Navigation -->
									<div class="slider-navigation">
										<button class="slider-navigation__btn js-speaker-slider-btn-prev" type="button">
											<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"  viewBox="0 0 18.988 20.711" enable-background="new 0 0 18.988 20.711" xml:space="preserve">
												<polygon  points="10.355,20.711 11.77,19.297 3.828,11.356 18.988,11.356 18.988,9.356 3.828,9.356 11.77,1.414 
												10.355,0 0,10.356 "/>
											</svg>
										</button>

										<button class="slider-navigation__btn js-speaker-slider-btn-next" type="button">
											<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18.988 20.711" enable-background="new 0 0 18.988 20.711" xml:space="preserve">
												<polygon  points="8.633,0 7.219,1.414 15.16,9.355 0,9.355 0,11.355 15.16,11.355 7.219,19.297 8.633,20.711 
												18.988,10.355 "/>
											</svg>
										</button>
									</div>
									<!-- .//Navigation -->
								</div>
							</div>
							<!-- //container -->

						</section>






					</div>


				</section>
				<!-- //sect about -->




				<section class="sect__congress" id="aboutCourse">

					<section class="speaker-book gutter-bottom">
						<div class="container">
							<div class="row align-vertical-center row-gutters">
								<div class="speaker-book__text col-gutters">
									<h2 class="sect-title">Стефано Куби - автор мирового <span class="accent-color">бестселлера</span></h2>
									<p>Стефано имеет 58 научных публикаций, в том числе 13 иностранных, на тему эстетики переднего отдела и минимально инвазивной и оперативной стоматологии. Также он является автором 250 локальных и международных лекций в Академиях Эстетической стоматологии и протезирования по всему миру.</p>
									<p>В книге впервые в сфере присутствуют видеоролики дополненной реальности, а также бесчисленное множество кейсов из многолетней практики Стефано Куби.</p>
								</div>
								<div class="speaker-book__img col-gutters">
									<img src="img/book.png" alt="">
								</div>
							</div>


							{% include '../parts/components/form-wrapper.html' %}
						</div>
						<!-- //container -->
					</section>


					<section class="congress-schedule__wrapper gutter-top" id="program">
						<div class="container">

							<h2 class="congress-schedule__title">Programme</h2>

							<div class="congress-schedule__entering">
								<h3 class="congress-schedule__subtitle">Эстетическая Ортопедия, от коронок<br>до no prep/prepless виниров</h3>
								<span class="congress-schedule__step congress-schedule__step--1"></span>
							</div>

							<div class="congress-schedule b-radius">



								<div class="congress-schedule__item">
									<h4 class="congress-schedule__item--time ">9:00 - 9:30</h4>
									<div class="congress-schedule__item--descr">
										<h4 class="congress-schedule__item--descr_title">Первичное сканирование</h4>

									</div>
								</div>
								<!-- //item -->

								<div class="congress-schedule__item">
									<h4 class="congress-schedule__item--time ">9:30 - 10:00</h4>
									<div class="congress-schedule__item--descr">
										<h4 class="congress-schedule__item--descr_title">Техника изоляции рабочего поля</h4>

									</div>
								</div>
								<!-- //item -->

								<div class="congress-schedule__item">
									<h4 class="congress-schedule__item--time ">10:00 - 10:30</h4>
									<div class="congress-schedule__item--descr">
										<h4 class="congress-schedule__item--descr_title">Лайфхаки препарирования</h4>

									</div>
								</div>
								<!-- //item -->

								<div class="congress-schedule__item">
									<h4 class="congress-schedule__item--time ">10:30 - 11:00</h4>
									<div class="congress-schedule__item--descr">
										<h4 class="congress-schedule__item--descr_title">Фишки в сканировании под тотальные работы</h4>

									</div>
								</div>
								<!-- //item -->
								<div class="congress-schedule__item">
									<h4 class="congress-schedule__item--time ">11:00 - 11:30</h4>
									<div class="congress-schedule__item--descr">
										<h4 class="congress-schedule__item--descr_title">Процедура фиксации</h4>

									</div>
								</div>
								<!-- //item -->

								<div class="congress-schedule__item">
									<h4 class="congress-schedule__item--time ">11:30 - 12:00</h4>
									<div class="congress-schedule__item--descr">
										<h4 class="congress-schedule__item--descr_title">Техническая часть, особенности<br> выбора керамической массы и циркона </h4>

									</div>
								</div>
								<!-- //item -->

								<div class="congress-schedule__item">
									<h4 class="congress-schedule__item--time ">12:00 - 12:30</h4>
									<div class="congress-schedule__item--descr">
										<h4 class="congress-schedule__item--descr_title">Детали фрезерования и наслоения</h4>

									</div>
								</div>
								<!-- //item -->

								<div class="congress-schedule__item">
									<h4 class="congress-schedule__item--time ">12:30 - 13:00</h4>
									<div class="congress-schedule__item--descr">
										<h4 class="congress-schedule__item--descr_title">Планирование и выполнение тотальных работ</h4>

									</div>
								</div>
								<!-- //item -->
							</div>
						</div>
						<!-- //container -->
					</section>

					<section class="congress-gallery" >
						<div class="container" >
							<div class="row align-vertical-start align-horisontal-between congress-gallery__entering">
								<div class="congress-gallery__title--col">
									<h2 class="congress-gallery__title">Клинические кейсы Стефано Куби</h2>
								</div>
							</div>
						</div>
						<!-- //container -->

						<div class="congress-gallery__slider">
							<div class="swiper-container js-congress-gallery-slider">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<a href="img/gallery/1.jpg" class="thumbnail fancy-link" data-fancybox="gallery">
											<img src="img/gallery/1.jpg" alt="">
										</a>
									</div>
									<!-- //slide -->

									<div class="swiper-slide">
										<a href="img/gallery/2.jpg" class="thumbnail fancy-link" data-fancybox="gallery">
											<img src="img/gallery/2.jpg" alt="">
										</a>
									</div>
									<!-- //slide -->

									<div class="swiper-slide">
										<a href="img/gallery/3.jpg" class="thumbnail fancy-link" data-fancybox="gallery">
											<img src="img/gallery/3.jpg" alt="">
										</a>
									</div>
									<!-- //slide -->

									<div class="swiper-slide">
										<a href="img/gallery/4.jpg" class="thumbnail fancy-link" data-fancybox="gallery">
											<img src="img/gallery/4.jpg" alt="">
										</a>
									</div>
									<!-- //slide -->

									<div class="swiper-slide">
										<a href="img/gallery/5.jpg" class="thumbnail fancy-link" data-fancybox="gallery">
											<img src="img/gallery/5.jpg" alt="">
										</a>
									</div>
									<!-- //slide -->



								</div>
							</div>

							<div class="container">

								<div class="row align-horisontal-end congress-gallery__slider--navigation">
									<!-- Navigation -->
									<div class="slider-navigation slider-navigation__transparent">
										<button class="slider-navigation__btn js-congress-gallery-slider-btn-prev" type="button">
											<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"  viewBox="0 0 18.988 20.711" enable-background="new 0 0 18.988 20.711" xml:space="preserve">
												<polygon  points="10.355,20.711 11.77,19.297 3.828,11.356 18.988,11.356 18.988,9.356 3.828,9.356 11.77,1.414 
												10.355,0 0,10.356 "/>
											</svg>
										</button>

										<button class="slider-navigation__btn js-congress-gallery-slider-btn-next" type="button">
											<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18.988 20.711" enable-background="new 0 0 18.988 20.711" xml:space="preserve">
												<polygon  points="8.633,0 7.219,1.414 15.16,9.355 0,9.355 0,11.355 15.16,11.355 7.219,19.297 8.633,20.711 
												18.988,10.355 "/>
											</svg>
										</button>
									</div>
									<!-- .//Navigation -->
								</div>
							</div>
							<!-- //container -->
						</div>
					</section>

					<section class="congress-schedule__wrapper">
						<div class="container">

							<div class="congress-schedule__entering">
								<h3 class="congress-schedule__subtitle">Восстановление окклюзии при<br> потере высоты.  Full mock-up концепт </h3>
								<span class="congress-schedule__step congress-schedule__step--2"></span>
							</div>

							<div class="congress-schedule b-radius">



								<div class="congress-schedule__item">
									<h4 class="congress-schedule__item--time ">13:30 - 14:00</h4>
									<div class="congress-schedule__item--descr">
										<h4 class="congress-schedule__item--descr_title">Восстановление функции</h4>

									</div>
								</div>
								<!-- //item -->

								<div class="congress-schedule__item">
									<h4 class="congress-schedule__item--time ">14:00 - 14:30</h4>
									<div class="congress-schedule__item--descr">
										<h4 class="congress-schedule__item--descr_title">Восстановление прикуса</h4>

									</div>
								</div>
								<!-- //item -->

								<div class="congress-schedule__item">
									<h4 class="congress-schedule__item--time ">14:30 - 15:00</h4>
									<div class="congress-schedule__item--descr">
										<h4 class="congress-schedule__item--descr_title">Концепции определения прикуса</h4>

									</div>
								</div>
								<!-- //item -->

								<div class="congress-schedule__item">
									<h4 class="congress-schedule__item--time ">15:00 - 15:30</h4>
									<div class="congress-schedule__item--descr">
										<h4 class="congress-schedule__item--descr_title">Восстановление правильной окклюзии при стирании</h4>

									</div>
								</div>
								<!-- //item -->
								<div class="congress-schedule__item">
									<h4 class="congress-schedule__item--time ">15:30 - 16:00</h4>
									<div class="congress-schedule__item--descr">
										<h4 class="congress-schedule__item--descr_title">Работа с капами и сплинтами</h4>

									</div>
								</div>
								<!-- //item -->

								<div class="congress-schedule__item">
									<h4 class="congress-schedule__item--time ">16:00 - 16:30</h4>
									<div class="congress-schedule__item--descr">
										<h4 class="congress-schedule__item--descr_title">Ведение пациентов на временных конструкциях<br> перед тотальным протезированием</h4>

									</div>
								</div>
								<!-- //item -->

								<div class="congress-schedule__item">
									<h4 class="congress-schedule__item--time ">16:30 - 17:00</h4>
									<div class="congress-schedule__item--descr">
										<h4 class="congress-schedule__item--descr_title">Восстановление мышечной функции </h4>

									</div>
								</div>
								<!-- //item -->

								<div class="congress-schedule__item">
									<h4 class="congress-schedule__item--time ">17:00 - 17:30</h4>
									<div class="congress-schedule__item--descr">
										<h4 class="congress-schedule__item--descr_title">Протокол ведения пациента при комплексном<br> тотальном протезировании</h4>

									</div>
								</div>
								<!-- //item -->
							</div>

							{% include '../parts/components/form-wrapper.html' %}
						</div>
						<!-- //container -->
					</section>


				</section>



				<section class="sect__portfolio">	
					<h2 class="sect-title container basic-white-color"><span>Как проходят<br>наши мероприятия?</span></h2>

					<div class="congress-gallery__slider">
						<div class="swiper-container js-congress-gallery-slider">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<a href="img/imax/1.jpg" class="thumbnail fancy-link" data-fancybox="gallery_imax">
										<img src="img/imax/1.jpg" alt="">
									</a>
								</div>
								<!-- //slide -->

								<div class="swiper-slide">
									<a href="img/imax/2.jpg" class="thumbnail fancy-link" data-fancybox="gallery_imax">
										<img src="img/imax/2.jpg" alt="">
									</a>
								</div>
								<!-- //slide -->

								<div class="swiper-slide">
									<a href="img/imax/3.jpg" class="thumbnail fancy-link" data-fancybox="gallery_imax">
										<img src="img/imax/3.jpg" alt="">
									</a>
								</div>
								<!-- //slide -->

								<div class="swiper-slide">
									<a href="img/imax/4.jpg" class="thumbnail fancy-link" data-fancybox="gallery_imax">
										<img src="img/imax/4.jpg" alt="">
									</a>
								</div>
								<!-- //slide -->

								<div class="swiper-slide">
									<a href="img/imax/5.jpg" class="thumbnail fancy-link" data-fancybox="gallery_imax">
										<img src="img/imax/5.jpg" alt="">
									</a>
								</div>
								<!-- //slide -->

								<div class="swiper-slide">
									<a href="img/imax/6.jpg" class="thumbnail fancy-link" data-fancybox="gallery_imax">
										<img src="img/imax/6.jpg" alt="">
									</a>
								</div>
								<!-- //slide -->

								<div class="swiper-slide">
									<a href="img/imax/7.jpg" class="thumbnail fancy-link" data-fancybox="gallery_imax">
										<img src="img/imax/7.jpg" alt="">
									</a>
								</div>
								<!-- //slide -->



							</div>
						</div>

						<div class="container">

							<div class="row align-horisontal-end congress-gallery__slider--navigation">
								<!-- Navigation -->
								<div class="slider-navigation slider-navigation__light">
									<button class="slider-navigation__btn js-congress-gallery-slider-btn-prev" type="button">
										<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"  viewBox="0 0 18.988 20.711" enable-background="new 0 0 18.988 20.711" xml:space="preserve">
											<polygon  points="10.355,20.711 11.77,19.297 3.828,11.356 18.988,11.356 18.988,9.356 3.828,9.356 11.77,1.414 
											10.355,0 0,10.356 "/>
										</svg>
									</button>

									<button class="slider-navigation__btn js-congress-gallery-slider-btn-next" type="button">
										<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18.988 20.711" enable-background="new 0 0 18.988 20.711" xml:space="preserve">
											<polygon  points="8.633,0 7.219,1.414 15.16,9.355 0,9.355 0,11.355 15.16,11.355 7.219,19.297 8.633,20.711 
											18.988,10.355 "/>
										</svg>
									</button>
								</div>
								<!-- .//Navigation -->
							</div>
						</div>
						<!-- //container -->
					</div>

					<div class="container">
						<div class="congress-advantages">	
							<div class="row row-gutters congress-advantages__row">	
								<div class="congress-advantage col-w-33 col-gutters">	
									<p>Большой комфортный кинозал с огромным экраном для полного фокуса на кейсах.</p>
								</div>

								<div class="congress-advantage col-w-33 col-gutters">	
									<p>Только лучшие спикеры. Профессионалы своего дела с мировым именем.</p>
								</div>

								<div class="congress-advantage col-w-33 col-gutters">	
									<p>Самые актуальные техники, которые уже завтра вы примените на практике.</p>
								</div>

							</div>

						</div>
					</div>
					<!-- //container -->	

				</section>	


				<div class="decor-wrapper decor-wrapper__jeans">


					<section class="sect__prices" id="prices">
						<div class="container">

							<div class="contacts basic-white-color">

								<div class="row contacts__row row-nowrap ">

									<div class="price-block ">

										<h2 class="sect-title contacts__title">Цена</h2>
										<div class="price-package__block">
											<div class="prices-package b-radius">
												<div class="prices-package__content">
													<ul>
														<li>участие в конгрессе</li>
														<li>сертификат участника</li>
														<li>кофе-брейки и обед</li>
														<li>профессиональные фото<br>с Стефано Куби</li>
														<li>синхронный перевод</li>
													</ul>

													<p class="prices-package__price">8500 <span>UAH</span></p>
												</div>
											</div>

											<div class="text-center">
												<button class="btn js-open-popup-form-btn" type="button" data-title="standart">Принять участие</button>
											</div>
										</div>

									</div>
									<!-- //package -->


									<div class="contacts-information " id="contacts">
										<h2 class="sect-title contacts__title">Место проведения</h2>
										<div class="contacts-information__content">
											<div class="contacts-information__img thumbnail">
												<img src="img/river.jpg" alt="River Mall, Планета Кино">
											</div>


											<div class="row contacts-information__row">
												<div class="contacts-information__item--col col-w-33">
													<div class="contacts-information__item">
														<p>River Mall<br>Планета Кино</p>
													</div>
												</div>
												<div class="contacts-information__item--col col-w-33">
													<div class="contacts-information__item">
														<p>Днепровская<br>набережная, 12</p>
													</div>
												</div>
												<div class="contacts-information__item--col col-w-33">
													<div class="contacts-information__item">
														<p>30 октября</p>
													</div>
												</div>
											</div>
										</div>
									</div>

								</div>

							</div>
						</div>
						<!-- //container -->

					</section>


					<!-- Footer -->
					{% include '../parts/sections/footer.html' %}
					<!-- //Footer -->
				</section>




			</div>









		</main>
		<!-- //Main -->


		{% include '../parts/components/preloader.html' %}
		{% include '../parts/components/popups.html' %}



	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>