{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">
			<div class="decor-wrapper decor-wrapper__blue">
				

				<section class="sect__promo js-section">
					<div class="container">
						<div class="promo-block">

							<div class="promo-block__content">
								<div class="promo-speaker">
									<p class="promo-speaker__name">Густаво Джордани</p>
									<p class="promo-speaker__city">Сан-Паулу, Бразилия</p>
								</div>

								<h1 class="promo-block__title">Бразильская школа<br> эстетической<br> <span>хирургии</span></h1>
								<h2 class="promo-block__subtitle">Протоколы цифровой имплантации<br> и перио хирургии</h2>



								<div class="row align-vertical-end align-horisontal-between promo-form__row row-gutters">

									<div class="promo-form__col col-gutters">
										<div class="form-block">
											

											<div class="form__wrapper form__wrapper--accent  b-radius">
												<form>
													<!-- Hidden inputs -->
													<input type="hidden" name="project_name" value="Dentalex. Густаво Джордани">
													<input type="hidden" name="form_subject" value="Принять участие">
													<!-- // Hidden inputs -->

													<div class="row row-gutters form-groups align-horisontal-start align-vertical-center row-nowrap">
														<div class="form-group col-gutters сol-w-33">
															<label  class="form-label">
																<span class="form-label__ic">

																	<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 26.083 28.966" enable-background="new 0 0 26.083 28.966" xml:space="preserve">
																		<path d="M26.062,28.039c-0.078-5.783-3.942-10.667-9.22-12.284c2.687-1.387,4.531-4.186,4.531-7.412c0-4.6-3.742-8.342-8.342-8.342
																		S4.689,3.742,4.689,8.342c0,3.227,1.845,6.026,4.533,7.413C3.89,17.389,0,22.356,0,28.216c0,0.414,0.336,0.75,0.75,0.75h24.563
																		c0.007,0,0.014,0,0.02,0c0.414,0,0.75-0.336,0.75-0.75C26.083,28.155,26.076,28.096,26.062,28.039z M6.189,8.342
																		c0-3.773,3.069-6.842,6.842-6.842s6.842,3.069,6.842,6.842s-3.069,6.842-6.842,6.842S6.189,12.115,6.189,8.342z M1.524,27.466
																		c0.388-6.011,5.401-10.782,11.508-10.782s11.12,4.771,11.508,10.782H1.524z"/>
																	</svg>

																</span>
																<input type="text" class="form-input js-required-input" name="name" placeholder="Имя">
															</label>
														</div>

														<div class="form-group col-gutters col-w-33">
															<label  class="form-label">
																<span class="form-label__ic">

																	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 34.285 33.754" enable-background="new 0 0 34.285 33.754" xml:space="preserve">
																		<g>
																			<path d="M28.367,21.823c-0.602-0.602-1.405-0.934-2.261-0.934c-0.856,0-1.66,0.332-2.189,0.87l-2.254,1.734
																			c-0.721,0.554-1.668,0.773-2.526,0.582c-4.938-1.101-7.943-6.608-9.295-9.792c-0.423-0.996-0.277-2.146,0.381-3.001l1.335-1.746
																			c1.247-1.247,1.247-3.276,0-4.523l-2.93-2.93c-1.051-1.051-3-1.178-4.181-0.271L4.177,2.02c-2.973,2.288-4.545,5.979-4.104,9.633
																			c0.441,3.648,2.14,9.17,7.731,14.761c3.551,3.55,7.319,5.884,11.202,6.937c0.987,0.268,2.007,0.404,3.03,0.404
																			c3.585,0,7.068-1.699,9.317-4.544l0.188-0.238c0.968-1.224,0.857-3.117-0.246-4.22L28.367,21.823z M30.366,28.042l-0.188,0.238
																			c-1.967,2.488-5.01,3.974-8.14,3.974c-0.891,0-1.778-0.119-2.638-0.352c-3.627-0.984-7.171-3.188-10.534-6.55
																			c-5.288-5.289-6.89-10.467-7.303-13.88C1.184,8.341,2.536,5.174,5.092,3.208l0.269-0.207c0.272-0.209,0.63-0.325,1.008-0.325
																			c0.464,0,0.9,0.17,1.198,0.468l2.93,2.93c0.662,0.662,0.662,1.74-0.064,2.475l-1.399,1.818c-0.988,1.283-1.207,3.008-0.573,4.502
																			c1.465,3.45,4.757,9.423,10.35,10.67c1.285,0.287,2.699-0.034,3.768-0.857l2.327-1.798c0.638-0.637,1.764-0.638,2.402,0l2.93,2.93
																			C30.808,26.386,30.868,27.407,30.366,28.042z"/>
																			<path d="M17.877,11.569c1.292,0,2.508,0.503,3.422,1.417c0.913,0.913,1.417,2.128,1.417,3.42c0,0.414,0.336,0.75,0.75,0.75h0
																			c0.414,0,0.75-0.336,0.75-0.75c-0.001-1.693-0.661-3.284-1.857-4.48c-1.197-1.197-2.789-1.857-4.482-1.857
																			c-0.414,0-0.75,0.336-0.75,0.75S17.463,11.569,17.877,11.569z"/>
																			<path d="M17.877,6.304c2.699,0,5.236,1.051,7.145,2.96c1.908,1.908,2.959,4.445,2.959,7.143c0,0.414,0.336,0.75,0.75,0.75
																			s0.75-0.336,0.75-0.75c0-3.099-1.207-6.012-3.399-8.204c-2.192-2.192-5.106-3.399-8.206-3.399c-0.414,0-0.75,0.336-0.75,0.75
																			S17.463,6.304,17.877,6.304z"/>
																			<path d="M29.479,4.806C26.38,1.707,22.26,0,17.877,0c-0.414,0-0.75,0.336-0.75,0.75s0.336,0.75,0.75,0.75
																			c3.982,0,7.726,1.551,10.542,4.367c2.815,2.815,4.366,6.559,4.367,10.541c0,0.415,0.336,0.75,0.75,0.75
																			c0.415,0,0.75-0.336,0.75-0.75C34.285,12.025,32.578,7.905,29.479,4.806z"/>
																		</g>
																	</svg>

																</span>
																<input type="tel" class="form-input js-required-input" name="tel" placeholder="Телефон">
															</label>
														</div>

														<div class="form-group col-gutters col-w-33 text-right">
															<button class="btn btn-light" type="submit">Принять участие</button>
														</div>
													</div>
												</form>
											</div>

											<div class="btn-popup">
												<button class="btn  js-open-popup-form-btn" type="button">Принять участие</button>
											</div>

										</div>
									</div>

									<div class="congress-info col-gutters">
										<div class="congress-info__date"><span>10-11</span>	декабря</div>
										<div class="congress-info__city b-radius"><span>Киев</span></div>
									</div>

								</div>

							</div>



							<img class="promo-block__img" src="img/speaker.png" alt="Густаво Джордани">
						</div>
					</div>
					<!-- //container -->
				</section>
				<!-- //sect promo -->


				<section class="sect__about js-section" id="aboutSpeaker">

					<div class="about-speaker">
						<div class="container">
							<div class="about-speaker__text">
								<h2 class="about-speaker__title sect-title"><span>Здравствуйте!</span> <br>Меня зовут <br>Густаво Джордани</h2>
								<p>Я один из самых известных стоматологов не только Бразилии, но и Южной Америки. <br>10 и 11 декабря пройдёт моя лекция <br>и живая операция в лучшем зале Киева</p>
							</div>

							<div class="about-speaker__photo">
								<span class="ola">Olá</span>
								<img src="img/about-speaker.png" alt="">
							</div>
						</div>
						<!-- //container -->
					</div>
					

					<div class="decor-wrapper decor-wrapper__grey huge-bottom-gutter">
						<section class="advantages">
							<div class="container">
								<div class="row align-horisontal-start advantages__row">
									<div class="advantage__wrapper col-w-33">
										<div class="advantage">
											<h3 class="advantage__title">О спикере</h3>
											<p>Самый известный стоматолог, хирург не только Бразилии, но и Южной Америки.<br> Окончил Университет Паулиста — UNIP, Сан-Паулу Бразилия. Специализируется в области челюстно-лицевой и пародонтальной хирургии и имплантологии.</p>
										</div>
									</div>
									<!-- //advantage -->

									<div class="advantage__wrapper col-w-33">
										<div class="advantage">
											<h3 class="advantage__title">Квалификация</h3>
											<p>Стажировался в Бельгии в области «импланталогии и пластической хирургии на тканях пародонта» у доктора Эрика Ван Дорена, и продолжает свою работу с ним в настоящее время. Ведёт хирургический прием в клинике Ateliê Oral, которая по праву считается самой успешной стоматологической клиникой в Южной Америке.</p>
										</div>
									</div>
									<!-- //advantage -->

									<div class="advantage__wrapper col-w-33">
										<div class="advantage">
											<h3 class="advantage__title">Работа</h3>
											<p>Сотрудничество с известными мировыми клиницистами как Галип Гюрель ( Стамбул ), Флорин Кофар ) Тимишоара, Назарий Мыхайлюк ( Киев, Ивано-Франковск ) Эрик Ван-Дорен ( Антверпен ) и другими.</p>
										</div>
									</div>
									<!-- //advantage -->
								</div>
							</div>
							<!-- //container -->
						</section>


						<section class="speaker-slider__wrapper">
							<div class="container">

								<div class="speaker-slider">
									<div class="swiper-container js-speaker-slider">
										<div class="swiper-wrapper">
											<div class="swiper-slide">
												<div class="speaker-slide">
													<a href="img/speaker/1.jpg" class="thumbnail fancy-link"  data-fancybox="speaker-gallery">
														<img src="img/speaker/1.jpg" alt="">
													</a>
													<span>01</span>
												</div>

											</div>
											<!-- //slide -->

											<div class="swiper-slide">
												<div class="speaker-slide">
													<a href="img/speaker/2.jpg" class="thumbnail fancy-link" data-fancybox="speaker-gallery">
														<img src="img/speaker/2.jpg" alt="">
													</a>
													<span>02</span>
												</div>

											</div>
											<!-- //slide -->

											<div class="swiper-slide">
												<div class="speaker-slide">
													<a href="img/speaker/3.jpg" class="thumbnail fancy-link" data-fancybox="speaker-gallery">
														<img src="img/speaker/3.jpg" alt="">
													</a>
													<span>03</span>
												</div>

											</div>
											<!-- //slide -->

											<div class="swiper-slide">
												<div class="speaker-slide">
													<a href="img/speaker/4.jpg" class="thumbnail fancy-link" data-fancybox="speaker-gallery">
														<img src="img/speaker/4.jpg" alt="">
													</a>
													<span>04</span>
												</div>

											</div>
											<!-- //slide -->

											<div class="swiper-slide">
												<div class="speaker-slide">
													<a href="img/speaker/5.jpg" class="thumbnail fancy-link" data-fancybox="speaker-gallery">
														<img src="img/speaker/5.jpg" alt="">
													</a>
													<span>05</span>
												</div>

											</div>
											<!-- //slide -->
										</div>
									</div>

									<!-- Navigation -->
									<div class="slider-navigation">
										<button class="slider-navigation__btn js-speaker-slider-btn-prev" type="button">
											<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"  viewBox="0 0 18.988 20.711" enable-background="new 0 0 18.988 20.711" xml:space="preserve">
												<polygon  points="10.355,20.711 11.77,19.297 3.828,11.356 18.988,11.356 18.988,9.356 3.828,9.356 11.77,1.414 
												10.355,0 0,10.356 "/>
											</svg>
										</button>

										<button class="slider-navigation__btn js-speaker-slider-btn-next" type="button">
											<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18.988 20.711" enable-background="new 0 0 18.988 20.711" xml:space="preserve">
												<polygon  points="8.633,0 7.219,1.414 15.16,9.355 0,9.355 0,11.355 15.16,11.355 7.219,19.297 8.633,20.711 
												18.988,10.355 "/>
											</svg>
										</button>
									</div>
									<!-- .//Navigation -->
								</div>
							</div>
							<!-- //container -->

						</section>


						

					</div>


				</section>
				<!-- //sect about -->


			</div>


			<section class="sect__congress" id="aboutCourse">
				<section class="live-show__wrapper">
					<div class="container">
						<div class="live-show">
							<h2 class="live-show__title sect-title">Фото живых <br><span class="accent-color">выступлений</span></h2>

							<div class="row live-show__row row-nowrap row-gutters">
								<div class="live-show__col col-w-33 col-gutters">
									<!-- Slider -->
									<div class="live-show-slider">
										<div class="swiper-container js-live-show-slider-1">
											<div class="swiper-wrapper">
												<div class="swiper-slide">
													<a href="img/live/1.jpg" class="thumbnail live-show-slide b-radius fancy-link" data-fancybox="live-show">
														<img src="img/live/1.jpg" alt="">
													</a>
												</div>
												<!-- //slide -->

												<div class="swiper-slide">
													<a href="img/live/2.jpg" class="thumbnail live-show-slide b-radius fancy-link" data-fancybox="live-show">
														<img src="img/live/2.jpg" alt="">
													</a>
												</div>
												<!-- //slide -->
											</div>
										</div>

										<!-- Navigation -->
										<div class="slider-navigation slider-navigation__transparent">
											<button class="slider-navigation__btn js-live-show-slider-btn-prev" type="button">
												<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"  viewBox="0 0 18.988 20.711" enable-background="new 0 0 18.988 20.711" xml:space="preserve">
													<polygon  points="10.355,20.711 11.77,19.297 3.828,11.356 18.988,11.356 18.988,9.356 3.828,9.356 11.77,1.414 
													10.355,0 0,10.356 "/>
												</svg>
											</button>

											<button class="slider-navigation__btn js-live-show-slider-btn-next" type="button">
												<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18.988 20.711" enable-background="new 0 0 18.988 20.711" xml:space="preserve">
													<polygon  points="8.633,0 7.219,1.414 15.16,9.355 0,9.355 0,11.355 15.16,11.355 7.219,19.297 8.633,20.711 
													18.988,10.355 "/>
												</svg>
											</button>
										</div>
										<!-- .//Navigation -->
									</div>
									<!-- //Slider -->

									
								</div>
								<div class="live-show__col col-w-33 col-gutters">
									<!-- Slider -->
									<div class="live-show-slider">
										<div class="swiper-container js-live-show-slider-2">
											<div class="swiper-wrapper">
												<div class="swiper-slide">
													<a href="img/live/3.jpg" class="thumbnail live-show-slide b-radius fancy-link" data-fancybox="live-show">
														<img src="img/live/3.jpg" alt="">
													</a>
												</div>
												<!-- //slide -->

												<div class="swiper-slide">
													<a href="img/live/4.jpg" class="thumbnail live-show-slide b-radius fancy-link" data-fancybox="live-show">
														<img src="img/live/4.jpg" alt="">
													</a>
												</div>
												<!-- //slide -->
											</div>
										</div>

										

									</div>
									<!-- //Slider -->
									<p>Живые выступления спикера Густаво Джордани по всеми миру на огромные аудитории. А также работа с самыми известными профессионалами своего дела</p>

									<!-- Slider -->
									<div class="live-show-slider live-show-slider__mobile">
										<div class="swiper-container js-live-show-slider-mobile">
											<div class="swiper-wrapper">
												<div class="swiper-slide">
													<a href="img/live/1.jpg" class="thumbnail live-show-slide b-radius fancy-link" data-fancybox="live-show">
														<img src="img/live/1.jpg" alt="">
													</a>
												</div>
												<!-- //slide -->

												<div class="swiper-slide">
													<a href="img/live/5.jpg" class="thumbnail live-show-slide b-radius fancy-link" data-fancybox="live-show">
														<img src="img/live/5.jpg" alt="">
													</a>
												</div>
												<!-- //slide -->

												<div class="swiper-slide">
													<a href="img/live/2.jpg" class="thumbnail live-show-slide b-radius fancy-link" data-fancybox="live-show">
														<img src="img/live/2.jpg" alt="">
													</a>
												</div>
												<!-- //slide -->

												<div class="swiper-slide">
													<a href="img/live/3.jpg" class="thumbnail live-show-slide b-radius fancy-link" data-fancybox="live-show">
														<img src="img/live/3.jpg" alt="">
													</a>
												</div>
												<!-- //slide -->

												<div class="swiper-slide">
													<a href="img/live/6.jpg" class="thumbnail live-show-slide b-radius fancy-link" data-fancybox="live-show">
														<img src="img/live/6.jpg" alt="">
													</a>
												</div>
												<!-- //slide -->

												<div class="swiper-slide">
													<a href="img/live/4.jpg" class="thumbnail live-show-slide b-radius fancy-link" data-fancybox="live-show">
														<img src="img/live/4.jpg" alt="">
													</a>
												</div>
												<!-- //slide -->
											</div>
										</div>

										<!-- Navigation -->
										<div class="slider-navigation slider-navigation__transparent">
											<button class="slider-navigation__btn js-live-show-slider-mobile-btn-prev" type="button">
												<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"  viewBox="0 0 18.988 20.711" enable-background="new 0 0 18.988 20.711" xml:space="preserve">
													<polygon  points="10.355,20.711 11.77,19.297 3.828,11.356 18.988,11.356 18.988,9.356 3.828,9.356 11.77,1.414 
													10.355,0 0,10.356 "/>
												</svg>
											</button>

											<button class="slider-navigation__btn js-live-show-slider-mobile-btn-next" type="button">
												<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18.988 20.711" enable-background="new 0 0 18.988 20.711" xml:space="preserve">
													<polygon  points="8.633,0 7.219,1.414 15.16,9.355 0,9.355 0,11.355 15.16,11.355 7.219,19.297 8.633,20.711 
													18.988,10.355 "/>
												</svg>
											</button>
										</div>
										<!-- .//Navigation -->
									</div>
									<!-- //Slider -->
								</div>
								<div class="live-show__col col-w-33 col-gutters">
									<!-- Slider -->
									<div class="live-show-slider">
										<div class="swiper-container js-live-show-slider-3">
											<div class="swiper-wrapper">
												<div class="swiper-slide">
													<a href="img/live/5.jpg" class="thumbnail live-show-slide b-radius fancy-link" data-fancybox="live-show">
														<img src="img/live/5.jpg" alt="">
													</a>
												</div>
												<!-- //slide -->

												<div class="swiper-slide">
													<a href="img/live/6.jpg" class="thumbnail live-show-slide b-radius fancy-link" data-fancybox="live-show">
														<img src="img/live/6.jpg" alt="">
													</a>
												</div>
												<!-- //slide -->
											</div>
										</div>

										

										
									</div>
									<!-- //Slider -->
								</div>
							</div>
						</div>


						{% include '../parts/components/form-wrapper.html' %}
					</div>
					<!-- //container -->
				</section>


				<section class="congress-schedule__wrapper" id="program">
					<div class="container">

						<h2 class="congress-schedule__uptitle">10 Декабря</h2>
						<h3 class="congress-schedule__title">КОНГРЕСС В IMAX</h3>

						<div class="congress-schedule b-radius">
							<div class="congress-schedule__item">
								<h4 class="congress-schedule__item--time ">9:00 - 10:00</h4>
								<div class="congress-schedule__item--descr">
									<h5 class="congress-schedule__item--descr_title">Виртуальное планирование и Цифровая Хирургия</h5>
									<p>Гуто Джордани работает по 100% цифровому протоколу в имплантации, используя как кастомные шаблоны, так и MGuide.Будет раскрыт протокол от одиночной имплантации до тотальной в digital.</p>
								</div>
							</div>
							<!-- //item -->

							<div class="congress-schedule__item">
								<h4 class="congress-schedule__item--time ">10:00 - 11:00</h4>
								<div class="congress-schedule__item--descr">
									<h5 class="congress-schedule__item--descr_title">Минимально инвазивные операции <br>с немедленной реабилитиацией</h5>
									<p>Техники одномоментной имплантации и немедленной нагрузки, сочетая с аугментацией кости имягких тканей. Поэтапно.</p>
								</div>
							</div>
							<!-- //item -->

							<div class="congress-schedule__item">
								<h4 class="congress-schedule__item--time ">11:30 - 13:00</h4>
								<div class="congress-schedule__item--descr">
									<h5 class="congress-schedule__item--descr_title">Быстрое междисциплинарное лечение</h5>
									<p>Различные планы лечени для реабилитации окмпромиссных пациентов, которые мы можем предлагать и решать клиническую ситуацию.</p>
								</div>
							</div>
							<!-- //item -->

							<div class="congress-schedule__item">
								<h4 class="congress-schedule__item--time ">14:00 - 15:00</h4>
								<div class="congress-schedule__item--descr">
									<h5 class="congress-schedule__item--descr_title">Имплантация в Эстетически значимой зоне</h5>
									<p>Гуто Джордани является специалистом в эстетической реабилитации, достигая совершенной эстетики в синергии мягких тканей и керамических реставраций.</p>
								</div>
							</div>
							<!-- //item -->

							<div class="congress-schedule__item">
								<h4 class="congress-schedule__item--time ">15:00 - 16:30</h4>
								<div class="congress-schedule__item--descr">
									<h5 class="congress-schedule__item--descr_title">Перио Хирургия вокруг зубов</h5>
									<p>Множественные рецессии в эстетической зоне, техника туннеля, VISTA, коронально-смещенного лоскута и много других... от А до Я.</p>
								</div>
							</div>
							<!-- //item -->

							<div class="congress-schedule__item">
								<h4 class="congress-schedule__item--time ">17:00 - 18:30</h4>
								<div class="congress-schedule__item--descr">
									<h5 class="congress-schedule__item--descr_title">Аугментация Мягких тканей и Немедленная Имплантация</h5>
									<p>Техники забора трансплантатов, контурная костная пластика и аугментация мягких тканей, как получить кератинизацию вокруг имплантатов.</p>
								</div>
							</div>
							<!-- //item -->
						</div>
					</div>
					<!-- //container -->
				</section>

				<section class="congress-gallery" >
					<div class="container" >
						<div class="row align-vertical-start align-horisontal-between congress-gallery__entering">
							<div class="congress-gallery__title--col">
								<h2 class="congress-gallery__title">Что вас ждёт?</h2>
								<p class="congress-gallery__text">Мы делаем самые масштабные и яркие мероприятия для стоматологов</p>
								<span class="congress-gallery__title--brasil"><span>Ed</span>ucação</span>
							</div>

							<p class="congress-gallery__text">Мы делаем самые масштабные и яркие мероприятия для стоматологов</p>
						</div>
					</div>
					<!-- //container -->

					<div class="congress-gallery__slider">
						<div class="swiper-container js-congress-gallery-slider">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<a href="img/gallery/1.jpg" class="thumbnail fancy-link" data-fancybox="gallery">
										<img src="img/gallery/1.jpg" alt="">
									</a>
								</div>
								<!-- //slide -->

								<div class="swiper-slide">
									<a href="img/gallery/2.jpg" class="thumbnail fancy-link" data-fancybox="gallery">
										<img src="img/gallery/2.jpg" alt="">
									</a>
								</div>
								<!-- //slide -->

								<div class="swiper-slide">
									<a href="img/gallery/3.jpg" class="thumbnail fancy-link" data-fancybox="gallery">
										<img src="img/gallery/3.jpg" alt="">
									</a>
								</div>
								<!-- //slide -->

								<div class="swiper-slide">
									<a href="img/gallery/4.jpg" class="thumbnail fancy-link" data-fancybox="gallery">
										<img src="img/gallery/4.jpg" alt="">
									</a>
								</div>
								<!-- //slide -->



							</div>
						</div>

						<div class="container">

							<div class="row align-horisontal-end congress-gallery__slider--navigation">
								<!-- Navigation -->
								<div class="slider-navigation slider-navigation__transparent">
									<button class="slider-navigation__btn js-congress-gallery-slider-btn-prev" type="button">
										<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"  viewBox="0 0 18.988 20.711" enable-background="new 0 0 18.988 20.711" xml:space="preserve">
											<polygon  points="10.355,20.711 11.77,19.297 3.828,11.356 18.988,11.356 18.988,9.356 3.828,9.356 11.77,1.414 
											10.355,0 0,10.356 "/>
										</svg>
									</button>

									<button class="slider-navigation__btn js-congress-gallery-slider-btn-next" type="button">
										<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18.988 20.711" enable-background="new 0 0 18.988 20.711" xml:space="preserve">
											<polygon  points="8.633,0 7.219,1.414 15.16,9.355 0,9.355 0,11.355 15.16,11.355 7.219,19.297 8.633,20.711 
											18.988,10.355 "/>
										</svg>
									</button>
								</div>
								<!-- .//Navigation -->
							</div>
						</div>
						<!-- //container -->
					</div>
				</section>

				<section class="congress-schedule__wrapper">
					<div class="container">

						<h2 class="congress-schedule__uptitle">11 Декабря</h2>
						<h3 class="congress-schedule__title">Мастер-класс</h3>
						<p class="congress-schedule__subtitle">Немедленная имплантация в эстетической зоне - Шаг за шагом</p>

						<div class="congress-schedule b-radius">
							<div class="congress-schedule__item">
								<h4 class="congress-schedule__item--time ">9:00 - 10:00</h4>
								<div class="congress-schedule__item--descr">
									<h5 class="congress-schedule__item--descr_title">Минимально инвазивное удаление</h5>
									<p>Техники мини инвазивного удаления в эстетически значимой зоне, как подготовительный этап к непосредственной имплантации.</p>
								</div>
							</div>
							<!-- //item -->

							<div class="congress-schedule__item">
								<h4 class="congress-schedule__item--time ">10:00 - 11:00</h4>
								<div class="congress-schedule__item--descr">
									<h5 class="congress-schedule__item--descr_title">Цифровая имплантация</h5>
									<p>Пошагово цифровое планирование в различных программах, дизайн хирургического шаблона, печать.</p>
								</div>
							</div>
							<!-- //item -->

							<div class="congress-schedule__item">
								<h4 class="congress-schedule__item--time ">11:30 - 13:00</h4>
								<div class="congress-schedule__item--descr">
									<h5 class="congress-schedule__item--descr_title">Техники забора соединительнотканных трансплантатов</h5>
									<p>Забор ССТ с зоны нёба,бугра, свободный десневой трансплантат, и другие виды графтов.</p>
								</div>
							</div>
							<!-- //item -->

							<div class="congress-schedule__item">
								<h4 class="congress-schedule__item--time ">14:00 - 15:00</h4>
								<div class="congress-schedule__item--descr">
									<h5 class="congress-schedule__item--descr_title">Реконструкция мягких тканей в эстетической зоне</h5>
									<p>Отработка техник аугментации мягких тканей одномоментно при имплантации в фронтальном участке. Увеличение объёма, создание кератинизации, смещение мягких тканей коронально.</p>
								</div>
							</div>
							<!-- //item -->

							<div class="congress-schedule__item">
								<h4 class="congress-schedule__item--time ">15:00 - 16:30</h4>
								<div class="congress-schedule__item--descr">
									<h5 class="congress-schedule__item--descr_title">Немедленная нагрузка - Создание правльного<br> контура прорезывания</h5>
									<p>Изготовление временной реставрации, создание контура прорезывание и места для объёмного роста мягких тканей.</p>
								</div>
							</div>
							<!-- //item -->

							<div class="congress-schedule__item">
								<h4 class="congress-schedule__item--time ">17:00 - 18:30</h4>
								<div class="congress-schedule__item--descr">
									<h5 class="congress-schedule__item--descr_title">Корректные техники ушивания</h5>
									<p>Различные техники ушивания микрохирургическими нитями.</p>
								</div>
							</div>
							<!-- //item -->
						</div>

						{% include '../parts/components/form-wrapper.html' %}
					</div>
					<!-- //container -->
				</section>


			</section>

			<section class="sect__imax">
				<div class="imax basic-white-color">
					<div class="container">
						<div class="imax__entering">
							<img src="img/imax.png" alt="IMAX">
							<h2 class="imax__title sect-title"><span>Лекция</span> <br>на самом большом <br>экране страны</h2>
						</div>
					</div>
					<!-- //container -->


					<section class="speaker-slider__wrapper">
						<div class="container">

							<div class="speaker-slider">
								<div class="swiper-container js-speaker-slider">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<div class="speaker-slide">
												<a href="img/imax/1.jpg" class="thumbnail fancy-link"  data-fancybox="imax-gallery">
													<img src="img/imax/1.jpg" alt="">
												</a>
												<span>01</span>
											</div>

										</div>
										<!-- //slide -->

										<div class="swiper-slide">
											<div class="speaker-slide">
												<a href="img/imax/2.jpg" class="thumbnail fancy-link" data-fancybox="imax-gallery">
													<img src="img/imax/2.jpg" alt="">
												</a>
												<span>02</span>
											</div>

										</div>
										<!-- //slide -->
										<div class="swiper-slide">
											<div class="speaker-slide">
												<a href="img/imax/1.jpg" class="thumbnail fancy-link"  data-fancybox="imax-gallery">
													<img src="img/imax/1.jpg" alt="">
												</a>
												<span>01</span>
											</div>

										</div>
										<!-- //slide -->

										<div class="swiper-slide">
											<div class="speaker-slide">
												<a href="img/imax/2.jpg" class="thumbnail fancy-link" data-fancybox="imax-gallery">
													<img src="img/imax/2.jpg" alt="">
												</a>
												<span>02</span>
											</div>

										</div>
										<!-- //slide -->

									</div>
								</div>

								<!-- Navigation -->
								<div class="slider-navigation slider-navigation__light">
									<button class="slider-navigation__btn js-speaker-slider-btn-prev" type="button">
										<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"  viewBox="0 0 18.988 20.711" enable-background="new 0 0 18.988 20.711" xml:space="preserve">
											<polygon  points="10.355,20.711 11.77,19.297 3.828,11.356 18.988,11.356 18.988,9.356 3.828,9.356 11.77,1.414 
											10.355,0 0,10.356 "/>
										</svg>
									</button>

									<button class="slider-navigation__btn js-speaker-slider-btn-next" type="button">
										<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18.988 20.711" enable-background="new 0 0 18.988 20.711" xml:space="preserve">
											<polygon  points="8.633,0 7.219,1.414 15.16,9.355 0,9.355 0,11.355 15.16,11.355 7.219,19.297 8.633,20.711 
											18.988,10.355 "/>
										</svg>
									</button>
								</div>
								<!-- .//Navigation -->
							</div>
						</div>
						<!-- //container -->

					</section>

					<div class="container">
						<div class="imax-advantages">
							<div class="row align-horisontal-center imax-advantages__row">
								<div class="imax-advantage__wrapper col-w-33">
									<div class="imax-advantage">
										<p>Команда DentAlex специализируется на организации образовательных мероприятий для хирургов-стоматологов. </p>
									</div>
								</div>

								<div class="imax-advantage__wrapper col-w-33">
									<div class="imax-advantage">
										<p>Конгресс по хирургии на экране IMAX это незабывающее впечатление. Самый большой экран, удобный мягкие кресла, напитки и закуски на месте. Что может быть лучше, чтобы учиться своему делу?</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- //container -->

				</div>
			</section>
			<!-- //sect imax -->


			<div class="decor-wrapper decor-wrapper__jeans">


				<section class="sect__prices" id="prices">
					<div class="container">
						<div class="prices basic-white-color">
							<span class="prices-title__brazil">quanto é?</span>
							<h2 class="prices-title sect-title">Сколько стоит?</h2>

							<div class="prices-packages">
								<div class="row align-horisontal-center prices-packages__row">
									<div class="prices-package__wrapper col-w-33">
										<div class="prices-package b-radius">
											<div class="prices-package__content">
												<h3 class="prices-package__title">Standart</h3>
												<ul>
													<li>участие в конгрессе</li>
													<li>сертификат участника</li>
													<li>кофе брейки и обед</li>
													<li>профессиональные фото<br>с Гуто Джордани</li>
													<li>синхронный перевод</li>
												</ul>

												<!-- <p class="prices-package__price">300$</p>
												<p class="prices-package__old-price">500$</p> -->
											</div>
										</div>

										<div class="text-center"><button class="btn js-open-popup-form-btn" type="button" data-title="standart">Принять участие</button></div>
									</div>
									<!-- //package -->

									<div class="prices-package__wrapper col-w-33">
										<div class="prices-package b-radius">
											<div class="prices-package__content">
												<h3 class="prices-package__title">Premium</h3>
												<ul>
													<li>участие в мастер-классе</li>
													<li>сертификат участника</li>
													<li>кофе брейки и обед</li>
													<li>профессиональные фото<br>с Гуто Джордани</li>
													<li>синхронный перевод</li>

												</ul>

												<!-- <p class="prices-package__price">1000$</p>
												<p class="prices-package__old-price">1300$</p> -->
											</div>
										</div>

										<div class="text-center"><button class="btn js-open-popup-form-btn" type="button" data-title="Premium">Принять участие</button></div>
									</div>
									<!-- //package -->

									<div class="prices-package__wrapper col-w-33">
										<div class="prices-package b-radius">
											<div class="prices-package__content">
												<h3 class="prices-package__title">VIP</h3>
												<ul>
													<li>2 полнях дня обучения</li>
													<li>сертификат участника</li>
													<li>кофе брейки и обед</li>
													<li>профессиональные фото<br>с Гуто Джордани</li>
													<li>синхронный перевод</li>
												</ul>

												<!-- <p class="prices-package__price">1200$</p>
												<p class="prices-package__old-price">1800$</p> -->
											</div>
										</div>

										<div class="text-center"><button class="btn js-open-popup-form-btn" type="button" data-title="VIP">Принять участие</button></div>
									</div>
									<!-- //package -->
								</div>
							</div>
						</div>
					</div>
					<!-- //container -->
				</section>


				<section class="sect__contacts " id="contacts">
					<div class="container">
						<div class="contacts basic-white-color">
							<h2 class="sect-title contacts__title">Место проведения</h2>

							<div class="row align-vertical-start align-horisontal-between contacts__row row-nowrap">
								<div class="contacts-information">
									<div class="contacts-information__top">
										<h3 class="contacts-information__title">River Mall<br>Планета Кино</h3>
										<address class="contacts-information__address">Днепровская набережная 12</address>
									</div>

									<p class="contacts-information__date">10-11<span>Декабря</span></p>
								</div>		
								<div class="contacts-img">
									<img src="img/river.jpg" alt="River Mall, Планета Кино">
								</div>		
							</div>
						</div>
					</div>
					<!-- //container -->
				</section>



				<!-- Footer -->
				{% include '../parts/sections/footer.html' %}
				<!-- //Footer -->

			</div>









		</main>
		<!-- //Main -->


		{% include '../parts/components/preloader.html' %}
		{% include '../parts/components/popups.html' %}



	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>