.header
	position absolute
	z-index 15
	left 0
	width 100%
	top 0
	padding 15px 0
	transition all .17s ease-in-out
	
		
	&-tools
		display flex
		flex-wrap nowrap
		align-items center
		justify-content flex-end
	
	&__row
		padding-right 30px