<footer class="footer">
	<div class="container">
		<div class="footer__content">
			<div class="row align-horisontal-between align-vertical-center footer__row row-gutters">
				<div class="footer__col col-gutters">
					<span class="logo"><img src="img/logo-light.svg" alt="Dentalex"></span>
				</div>
				<!-- //col -->

				<div class="footer__col col-gutters">
					<a href="mailto:dentalcampmx@gmail.com ">dentalcampmx@gmail.com</a>
				</div>
				<!-- //col -->

				<div class="footer__col col-gutters">
					<a href="viber://add?number=%2B380662784824" data-text="Viber">+38 066 278 48 24</a>
				</div>
				<!-- //col -->

				<div class="footer__col col-gutters">
					<a href="tel:+380931714550">+38 093 171 45 50</a>
				</div>
				<!-- //col -->

				<div class="footer__col col-gutters">
					<a href="https://instagram.com/grytsay14" rel="nofollow" target="_blank" class="developed" data-text="Powered by">
						<img src="img/grytsay.svg" alt="Powered by Grytsay">
					</a>
				</div>
				<!-- //col -->
			</div>
		</div>
	</div>
	<!-- //container -->
</footer>
