//  Fonts 
$Eng = 'EngraversMT', Arial, sans-serif
$Reg = 'Montserrat-Regular', Arial, sans-serif
$Med = 'Montserrat-Medium', Arial, sans-serif
$SemiBold = 'Montserrat-SemiBold', Arial, sans-serif
$Bold = 'Montserrat-Bold', Arial, sans-serif
// ========== ========== ========== ========== ==========

//Body customize
$body-font-family = $Med
$body-font-size = 16px
$body-line-height = 1.35

// Sizes
$container-width = 1210px
$container-gutters = 0 20px

$row-gutter-left = -15px
$row-gutter-right = -15px

$col-gutters = 0 15px

$gutters = 90px 0
$gutter-top = 90px
$gutter-bottom = 90px
// ========== ========== ========== ========== ==========

//  Colors 
$accent-color = #ec072d
$alternate-accent-color = #0346ff
$light-accent-color = #6181c2
$lighter-accent-color = #abbcde

$secondary-color = #00044e

$text-color = #000
$light-text-color = #404040
$lighter-text-color = #6e6e6e

$basic-white-color = #fff
$basic-black-color = #000


$form-bg = rgba(255,255,255, .4)
// ========== ========== ========== ========== ==========

//  Backgrounds 
$body-bg = #fff
$header-bg = #a2a2a2
$footer-bg = #a2a2a2

$dark-bg = #090909

$bg-overlay-color = #000
$bg-overlay-opacity = .8
// ========== ========== ========== ========== ==========

// Popup
$popup-overlay-bg = #000
$popup-overlay-opacity = .8
$popup-body-bg = #fff
// ========== ========== ========== ========== ==========