.decor-wrapper
	bg(50%, 50%)
	background-size cover
	&__blue
		background-image url('../img/backgrounds/blue-decor.jpg')
		background-size 100% 950px
		background-position top center
		
	&__grey
		background-image url('../img/backgrounds/grey-decor.jpg')
		
	&__jeans
		background-image url('../img/backgrounds/decor-jeanse.jpg')

.sect__promo
	overflow hidden
	background url('../img/backgrounds/promo-bg.png') bottom left no-repeat / auto 100%

.promo-block
	position relative
	
	
	&__text
		max-width 660px
		margin-bottom 55px
		
		ol
			counter-reset list
			li
				font 23px $SemiBold
				margin-bottom 30px
				padding-left 50px
				position relative
				max-width 400px
				&:last-child
					margin-bottom 0
				&:before
					counter-increment list
					content counter(list)
					color $accent-color
					display inline-block
					position absolute
					line-height 1
					font 40px $Eng
					top -10px
					left 0

	&__content
		padding 165px 0 25px
		position relative
		z-index 1
		display flex
		flex-direction column
		justify-content space-between
		align-items center
		min-height 740px
		.row
			width 100%
	&__img
		display block
		position absolute
		left -100px
		bottom 0
		width 670px
		pointer-events none
		
	&__title
		font 53px $SemiBold
		line-height 1.15
		margin-bottom 50px
		b
			color $accent-color
			
	&__subtitle
		color $light-accent-color
		font-size 22px
		margin-bottom 100px
		
.promo-form__col
	width 100%
	max-width 720px
	
	.btn
		padding-left 10px
		padding-right 10px
		width 100%
	

		

.promo-speaker
	margin-bottom 65px
	&__name
		color $light-accent-color
		font-size 22px
		margin-bottom 10px
	&__city
		color $lighter-accent-color
		

.congress-info
	position relative
	flex 1
	width 100%
	max-width 390px
	&__block
		border-radius 25px
		background-color $secondary-color
		display flex
		align-items center
		padding 7px 40px 7px 60px
		width 100%
		font-size 18px
		color $basic-white-color
		position relative
		.congress-info__block--benefit
			position absolute
			bottom 100%
			right 20px
		&--benefit
			width 250px
			background-color $basic-white-color
			white-space nowrap
			display flex
			align-items center
			justify-content center
			padding 9px
			font 16px $Med
			color $text-color
			transition all .35s ease-in-out
			transition-delay 1.2s
			opacity 0
			margin-bottom 0
			&:before
				pseudo()
				width 0
				height 0
				border-style solid
				border-width 15px 15px 0 0
				border-color $basic-white-color transparent transparent transparent
				position absolute
				top 100%
				margin-top -1px
				left 9px
			&.is-visible
				opacity 1
				margin-bottom 25px
			&_tablet
				display none
				transform translateY(15px)
				margin-bottom 0
				box-shadow 5px 5px 10px rgba($basic-black-color, .1)
				&:before
					top auto
					bottom 100%
					margin-top 0
					margin-bottom -1px
					border-width 15px  0 0 15px 
					border-color  transparent transparent transparent $basic-white-color
				&.is-visible
					opacity 1
					transform translateY(0)
					margin-bottom 0
					
			
			
			
			&_plus
				flex-col-center()
				width 30px
				height 30px
				background-color #f2f2f2
				color #c2c2c2
				font 20px $Bold
				flex none
				margin-right 12px
		&--date
			font 85px $Eng
			line-height 1
			display inline-block
			margin-right 45px
			
		&--text
			span
				display block
				padding-bottom 10px
				margin-bottom 10px
				border-bottom 1px solid $basic-white-color
				&:last-child
					padding-bottom 0
					margin-bottom 0
					border-bottom none
					

.promo-block-bestseller
	padding-left 50px
	position relative
	margin-top 50px
	&__tablet
		display none
	img
		display block
		width 267px
		vertical-center()
		right 30px
		position absolute
		z-index -1
	p
		position relative
		display inline-block
		&:before
			pseudo()
			vertical-center()
			position absolute
			left 100%
			width 108px
			height 22px
			margin-left 8px
			background url('../img/book-arrow.png') no-repeat / contain
			animation flying 1.6s linear infinite
			

@keyframes flying
	0%
		transform translate(-5px, -50%)
	50%
		transform translate(5px, -50%)
	100%
		transform translate(-5px, -50%)


// About
.sect__about
	padding-top 130px
	
.about-speaker
	&__title
		margin-bottom 110px
		position relative
		z-index 1
		&:before
			content attr(data-text)
			font 146px $Eng
			line-height 1
			display inline-block
			position absolute
			z-index -1
			white-space nowrap
			mix-blend-mode soft-light
			color rgba($basic-black-color, .15)
			top -75px
			left 0
		
		.sect-title
			width 100%
			max-width 800px
			position relative
			z-index 2
			
				
	&__text
		&--col
			flex 1
			width 100%
			&:first-child
				max-width 380px
			&:last-child
			
				max-width 800px
		p
			margin-bottom 35px
			&:last-child
				margin-bottom 0
	
		img
			display block
			border-radius 0 0 25px 25px
			
.sect__about
	.decor-wrapper__grey
		margin-top -120px
		padding-top 280px


.speaker-book
	.form-block
		margin-top 120px
		
	&__text
		max-width 490px
		position relative
		font-size 18px
		
		z-index 1
		.sect-title
			font-size 53px
			margin-bottom 40px
			
			line-height 1.25
			
			
		p
			color $light-text-color 
			margin-bottom 20px
			&:last-child
				margin-bottom 0
	&__img
		flex 1
		position relative
		&:before
			pseudo()
			position absolute
			position-center()
			margin-left 30px
			margin-top -30px
			width 110%
			height 110%
			background url('../img/circle.svg') no-repeat / contain
		&:before
			pseudo()
		img
			display block
			position relative
			z-index 1


// congress
.sect__congress
	margin-top -200px
	padding-bottom 180px
	position relative
	z-index 2
	background rgb(218,237,247)
	background -moz-linear-gradient(0deg, rgba(218,237,247,1) 0%, rgba(239,244,250,1) 100%)
	background -webkit-linear-gradient(0deg, rgba(218,237,247,1) 0%, rgba(239,244,250,1) 100%)
	background linear-gradient(0deg, rgba(218,237,247,1) 0%, rgba(239,244,250,1) 100%)
	&:before
		pseudo()
		width 100%
		position absolute
		top -180px
		left 0
		pointer-events none
		height 700px
		background rgb(255,255,255)
		background -moz-linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 75%, rgba(255,255,255,0) 100%)
		background -webkit-linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 75%, rgba(255,255,255,0) 100%)
		background linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 75%, rgba(255,255,255,0) 100%)



.congress-schedule
	padding 50px
	background rgb(240,244,249)
	background -moz-linear-gradient(180deg, rgba(240,244,249,1) 0%, rgba(234,244,248,1) 100%)
	background -webkit-linear-gradient(180deg, rgba(240,244,249,1) 0%, rgba(234,244,248,1) 100%)
	background linear-gradient(180deg, rgba(240,244,249,1) 0%, rgba(234,244,248,1) 100%)

	&__title
		text-transform uppercase
		font 140px $Eng
		color #d1e5f3
		line-height 1
		margin-bottom 130px
		text-align center
		
	&__subtitle
		font 36px $SemiBold
		max-width 730px
		
	&__entering
		position relative	
		margin-bottom 50px
		padding-right 240px
		
	&__step
		
		width 195px
		height 173px
		background-position 50% 50%
		background-repeat no-repeat
		background-size contain
		display inline-block	
		position absolute	
		bottom -60px
		right 0
		z-index -1
		&--1
			background-image url('../img/1.svg')
		&--2
			background-image url('../img/2.svg')
		
	&__item
		margin-bottom 50px
		padding-bottom 50px
		border-bottom 1px solid #d8dcdf
		display flex
		flex-wrap nowrap
		align-items center
		color $lighter-text-color
		&--time
			flex none
			width 190px
			flex-col-center()
			white-space nowrap
			text-align center
			height 70px
			background-color $accent-color
			box-shadow  0px 14px 26px -16px rgba($accent-color,0.94)
			margin-right 80px
			border-radius 21px
			color $basic-white-color
			font 20px $Eng
			line-height 1
		&--descr
			
			&_title
				font 24px $SemiBold
				color $text-color
				p
					margin-top 15px
		&:last-child
			margin-bottom 0
			border-bottom none
			padding-bottom 0


.congress-schedule__wrapper
	.form__wrapper
		margin-top 75px		

// gallery
.congress-gallery
	position relative
	padding 300px 0 175px
	&:before
		pseudo()
		position absolute
		width 1224px
		height 1128px
		background url('../img/back.png') 50% 50% no-repeat / contain
		position-center()
		z-index -1
		margin-top 40px
		margin-left 200px
	&__title
		font 52px $Bold
		line-height 1.1
		margin-bottom 110px
		
		&--col
			.congress-gallery__text
				display none
		
		&--brasil
			text-transform uppercase
			color $secondary-color
			font 95px $Eng
			line-height 1
			white-space nowrap
			span
				display inline-block
				position relative
				z-index 5
				pointer-events none
		
	&__entering
		max-width 1020px
		
		.congress-gallery__text

			max-width 205px
			

.congress-gallery__text
	font-size 18px
	color $lighter-text-color
			
// sect imax
.sect__portfolio
	background url('../img/backgrounds/blue-decor.jpg') 50% 50% no-repeat / cover
	padding 200px 0
	
	.sect-title
		margin-bottom 95px
		text-align center
		span
			display inline-block	
			text-align left
			

.congress-advantages
	margin-top 20px
	
.congress-advantage
	position relative	
	font-size 21px
	padding-top 155px
	color $basic-white-color
	&:before
		pseudo()
		position absolute	
		background-position 50% 50%
		background-size contain
		background-repeat no-repeat
		horisontal-center()
	&:nth-child(1)
		&:before
			width 242px
			height 191px
			background-image url('../img/circles/1.png')
			horisontal-center()
			top 5px
	&:nth-child(2)
		&:before
			width 124px
			height 124px
			background-image url('../img/circles/2.png')
			top 70px
	&:nth-child(3)
		&:before
			top 115px
			width 80px
			height 80px
			background-image url('../img/circles/2.png')
		
	p
		position relative	
		z-index 1
		

			

// Prices
.sect__prices
	padding-top 180px
	
.prices
	img
		display block
		mix-blend-mode soft-light
		
.prices-title
	margin-bottom 60px
	&__brazil
		display block
		text-transform uppercase
		color #ebc86a
		font-family $Eng
		font-size  158px
		
		mix-blend-mode soft-light
		line-height 1
		white-space nowrap
		margin-bottom 40px
		


.prices-packages__row
	margin-left -22.5px
	margin-right -22.5px
	
.prices-package
	flex 1
	position relative
	overflow hidden
	padding 70px 40px 45px 40px
	margin-bottom 50px
	&:before
		pseudo()
		position absolute
		fullSize()
		background-color rgba($basic-white-color, .4)
		mix-blend-mode overlay
		
	&__title
		font 26px $SemiBold
		margin-bottom 40px
		
	&__content
		position relative
		z-index 1
		display flex
		flex-direction column
		height 100%
		
		ul
			flex 1
			margin-bottom 40px
			li
				position relative
				padding-left 30px
				font-size 14px
				margin-bottom 10px
				&:last-child
					margin-bottom 0
				&:before
					content '>'
					display inline-block
					position absolute
					left 0
					top 1px
					
	&__price
		color #f6c86b
		white-space nowrap
		font 64px $Eng
		margin-bottom 10px
		line-height 1
		span
			font-size .5em
	&__old-price
		font 30px $Eng
		white-space nowrap
		position relative
		display inline-block
		&:before
			pseudo()
			position absolute
			vertical-center()
			left -6px
			margin-top 4px
			width 115px
			height 15px
			background url('../img/red_line.svg') no-repeat
	
		
	
	&__wrapper
		padding 0 22.5px 45px
		display flex
		flex-direction column
		

		

.price-block
	width 410px
	flex none
	padding-left 25px
	padding-right 25px
		
// Sect contcts

.sect__prices
	padding-bottom 80px
	
.contacts__title
	margin-bottom 55px
	text-align center
	font-size 50px
	
	
.contacts
	&__row
		margin-left -25px
		margin-right -25px
	&-information
		padding-left 25px
		padding-right 25px
		flex 1
		display flex
		flex-direction column
		justify-content space-between
		&__row
			margin-left -30px
			margin-right -30px
			margin-top 50px
		&__item
			position relative
			overflow hidden
			font-family $SemiBold
			height 70px
			display flex
			align-items center
			padding 10px 25px
			border-radius 21px
			p
				position relative
				z-index 1
			&--col
				padding-left 30px
				padding-right 30px
			&:before
				pseudo()
				position absolute
				fullSize()
				background-color rgba($basic-white-color, .4)
				mix-blend-mode overlay
		&__content
			flex 1
			display flex
			flex-direction column
			justify-content space-between
		
		&__img
			flex 1
			padding-top 0
			border-radius 25px
			


		

	